<html xmlns:th="http://www.thymeleaf.org" lang="en">

<div class="dropdown ps-1">
	<a class="nav-link dropdown-toggle text-center" href="#" role="button"
		data-bs-toggle="dropdown" aria-expanded="false"> <i
		class="bi-three-dots-vertical"></i>
	</a>

	<div class="dropdown-menu dropdown-menu-social bg-white shadow">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-md-4 col-4">
					<a class="dropdown-item text-center" href="#"> <img
						src="assets/images/social/search.png"
						class="profile-image img-fluid" alt=""> <span
						class="d-block">Google</span>
					</a>
				</div>

				<div class="col-lg-4 col-md-4 col-4">
					<a class="dropdown-item text-center" href="#"> <img
						src="assets/images/social/spotify.png"
						class="profile-image img-fluid" alt=""> <span
						class="d-block">Spotify</span>
					</a>
				</div>

				<div class="col-lg-4 col-md-4 col-4">
					<a class="dropdown-item text-center" href="#"> <img
						src="assets/images/social/telegram.png"
						class="profile-image img-fluid" alt=""> <span
						class="d-block">Telegram</span>
					</a>
				</div>

				<div class="col-lg-4 col-md-4 col-4">
					<a class="dropdown-item text-center" href="#"> <img
						src="assets/images/social/snapchat.png"
						class="profile-image img-fluid" alt=""> <span
						class="d-block">Snapchat</span>
					</a>
				</div>

				<div class="col-lg-4 col-md-4 col-4">
					<a class="dropdown-item text-center" href="#"> <img
						src="assets/images/social/tiktok.png"
						class="profile-image img-fluid" alt=""> <span
						class="d-block">Tiktok</span>
					</a>
				</div>

				<div class="col-lg-4 col-md-4 col-4">
					<a class="dropdown-item text-center" href="#"> <img
						src="assets/images/social/youtube.png"
						class="profile-image img-fluid" alt=""> <span
						class="d-block">Youtube</span>
					</a>
				</div>
			</div>
		</div>
	</div>
	
</div>
</html>