<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
<th:block th:replace="/layout/head :: head-utils" />
<th:block th:replace="/layout/head :: head-css" />
<title>Temp</title>
</head>

<body>

	<th:block th:replace="/layout/body :: body-header" />
	<div class="container-fluid">
		<div class="row">

			<th:block th:replace="/layout/sidebar-menu" />

			<main
				class="main-wrapper col-md-9 ms-sm-auto py-4 col-lg-9 px-md-4 border-start">
				<div class="title-group mb-3">
					<h1 class="h2 mb-0">Temp Page</h1>
				</div>

			</main>

		</div>
	</div>
</body>

<th:block th:replace="/layout/script :: script-utils" />

</html>